#better-greeter-clock,#better-greeter-username
{
    font-weight: bold;
    font-size: x-large;
}


#better-greeter-pfp
{
    border-radius: 120px;
    background: transparent;
    min-height: 200px;
    min-width: 200px;
    border: 2px solid currentColor;
}